.navItem {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 7px;
    transition-duration: 0.1s;
    color: white;
    margin-bottom: 3rem; 
    font-size: 2vw;
}

.navItem:hover {
    /* background of navbar */
    /* background-color: rgb(33, 37, 41); */
    background-color: rgb(43, 47, 51);
}